@font-face {
    font-family: "calibr";
    src: url("/font/CalibriRegular.ttf") format("ttf");
}
@font-face {
    font-family: 'vazir';
    src: url("/font/Vazir.woff") format("woof");
}

*{
    direction: rtl;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "vazir";
}


/* start section1 */
.section1{
    background: linear-gradient(RGBA(0,0,8,0.620),RGBA(0,0,2,0.008)), url(/img/bgHero.jpg);
    width: 100%;
    height: 90vh;

}

/* startnavbar */
.logo{
    width: 75px;
    height: auto;
}
.itemofnav{
    
    font-size: 1.07rem;
}
.phone{
    border-left: 1.5px solid snow;
}
